body {
  color: #e5e5e5;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
  letter-spacing: -1.35px;
  background-image: linear-gradient( to bottom, #e5e5e5, #e5e5e5 310px,
    #d664bb 310px, #d664bb 360px,
    #ae5dc6 360px, #ae5dc6 410px,
    #864fad 410px, #864fad 460px,
    #5b4193 460px, #5b4193 510px,
    #3c2960 510px, #3c2960 560px,
    #3c2960 560px);
}

section {
  text-align: center;
}

ul {
  padding: 0;
  vertical-align: middle;
}

li {
  display: inline-block;
  margin: 0;
  transform: rotate(-0.99deg);
}

h2 {
  display: table;
  height: 200px;
  font-size: 123px;
  position: relative;
}

a {
  text-decoration: none;
  color: #ae5dc6;
  font-size: 100%;
}

span {
  color: yellow;
  display: inline-block;
  transform: rotate(-3deg);
}

a:hover {
  color: #d664bb;
}

.gif-holder {
  position: absolute;
  margin-left: 51%;
  margin-top: -138px;
  z-index: 5;
  visibility: hidden;
}

.gif {
  margin-top: -134px;
  border-radius: 40px;
  overflow: hidden;
}

.marquee {
  width: 300px;
  height: 300px;
  background: url('../img/marquee.gif') rgba(174,93,198,255);
  background-blend-mode: luminosity;
}

.marquee::after {
  content: '';
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  overflow: hidden;
  background:
  radial-gradient(200px circle at 30% 40%, pink, rgba(255,255,255,0)),
  radial-gradient(150px circle at 70% 60%, tomato, rgba(255,255,255,0));
  mix-blend-mode: overlay;
}

.targa {
  filter: brightness(1.22);
  width: 300px;
  height: 300px;
  background: url('../img/targa-1.png') rgba(174,93,198,255);
  background-blend-mode: luminosity;
}

.targa::after {
  content: '';
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  overflow: hidden;
  background:
  radial-gradient(200px circle at 30% 40%, yellow, rgba(255,255,255,0)),
  radial-gradient(150px circle at 70% 60%, tomato, rgba(255,255,255,0));
  mix-blend-mode: overlay;
  opacity: 0.4;
}

.giffy {
  width: 300px;
  height: 300px;
  background: url('../img/dogPizza.gif') rgba(174,93,198,20);
  background-blend-mode: luminosity;
}

.giffy::after {
  content: '';
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  overflow: hidden;
  background:
  radial-gradient(200px circle at 30% 40%, yellow, rgba(255,255,255,0)),
  radial-gradient(150px circle at 70% 60%, tomato, rgba(255,255,255,0));
  mix-blend-mode: overlay;
  opacity: 0.4;
}

.webglol {
  filter: brightness(0.9);
  width: 300px;
  height: 300px;
  background: url('../img/lolcube.gif') rgba(174,93,198,20);
  background-blend-mode: luminosity;
}

.webglol::after {
  content: '';
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  overflow: hidden;
  background:
  radial-gradient(200px circle at 30% 40%, tomato, rgba(255,255,255,0)),
  radial-gradient(150px circle at 70% 60%, tomato, rgba(255,255,255,0));
  mix-blend-mode: overlay;
  opacity: 0.5;
}

.shader {
  width: 300px;
  height: 300px;
  background: url('../img/bubbles.gif') rgba(174,93,198,20);
  background-blend-mode: luminosity;
}

.shader::after {
  content: '';
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  overflow: hidden;
  background:
  radial-gradient(200px circle at 30% 40%, pink, rgba(255,255,255,0)),
  radial-gradient(150px circle at 70% 60%, tomato, rgba(255,255,255,0));
  mix-blend-mode: color-burn;
  opacity: 0.6;
}

.filter-canvas {
  margin-top: -300px;
  border-radius: 40px;
  overflow: hidden;
}

.repo-image-canvas {
  z-index: 10;
}

.all-wrap {
  padding: 240px 0 20px;
}

.gif {
  display: block;
  margin: 15px auto 0;
  z-index: 300;
}



.paragraph {
  transform: rotate(-0.30deg);
  margin-bottom: 40px;
  text-align: left;
  font-size: 16px;
}

.social-media {
  width: 100%;
  margin-right: 25px;
  text-align: right;
}

.social {
  margin: 0;
}

.header-float {
  display: inline-block;
  margin-top: 258px;
}

.all-social-icons {
  width: 100%;
  display: inline-flex;
}

.icon {
  margin-bottom: -5px;
}

.content {
  text-align: left;
}

.index {
  margin: 30px 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.code {
  position: relative;
  margin: 10px auto 0;
}

.limit {
  max-width: 650px;
  margin-left: 102px;
}

.working-papers {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: rgb(125,125,125);
}

.credit {
  color: #864fad;
}

.fadeout {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-name: fade;
}

#webring-banner {
  margin-bottom: 10px;
  transform: rotate(0.30deg);
  text-align: right;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}